<div class="main-container">
    <div class="mini-container">
        <div class="container-1">
            <span class="text-1" routerLink="/dashboard">Home </span>
            <span>/</span>
            <span class="text-2"> My Cart</span>
        </div>
        <div class="container-2">
            <mat-accordion>
                <mat-expansion-panel [expanded]="expand1"  class="main-accordion" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="title-name">
                            My cart (1)
                        </mat-panel-title>
                        <mat-panel-description class="title-seperator">
                            <div class="location-selector">
                                <img src="../../../assets/location-img-1.jpg" height="20px" width="18px" style="background: transparent;">
                                <span class="location-text">Bridgelabz Solutions LLP,No...</span>
                                <img src="../../../assets/arrow_drop_down_black_18dp.svg" height="18px" width="12px" >
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="book-with-inc-dec" *ngFor="let book of cartBooks">
                        <div class="book-details">
                            <div>
                                <img src="../../../assets/Image 11.png" height="85px" width="65px">
                            </div>
                            <div class="book-info">
                                <span class="book-name">Don't Make Me Think</span>
                                <span class="book-author">by Steve Krug</span>
                                <div class="price-info">
                                    <span class="disc-price">Rs.1500</span>
                                    <span class="act-price">Rs.2000</span>
                                </div>
                            </div>
                        </div>
                        <div class="show-inc-dec">
                            <button class="inc-dec" (click)="dec()" [disabled]="count === 1" >-</button>
                            <div class="showCount">{{count}}</div>
                            <button class="inc-dec" (click)="inc()">+</button>
                            <span class="remove-book">Remove</span>
                        </div>
                    </div>
                    <div>
                        <button mat-button (click)="toOpenPanel2()"  class="place-button">PLACE ORDER</button>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="expandPanel2" (closed)="panel2Close()"  class="main-accordion" hideToggle>
                    <mat-expansion-panel-header *ngIf="showContent">
                        <mat-panel-title class="title-name">
                            Customer Details
                        </mat-panel-title>
                        <mat-panel-description>
                            <button mat-button class="add-address-button">Add new Address</button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-expansion-panel-header *ngIf="!showContent">
                        <mat-panel-title class="title-name">
                            Address Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="main-address-content">
                        <div class="name-mobile">
                            <mat-form-field appearance="outline">
                                <mat-label>Full Name</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Mobile number</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="button-alignment">
                            <div class="work-content">
                                <div>
                                    <mat-radio-button value="work" (change)="enableEditButton1()"></mat-radio-button>
                                </div>
                                <div class="main-work-content">
                                    <div class="work-header">
                                        <span class="work-text">1.WORK</span>
                                        <button class="work-address-edit" type="button" (click)="enable1()" [disabled]="editButton1">Edit</button>
                                    </div>
                                    <div class="work-address">
                                        <div class="address-given">
                                            <label>Address</label>
                                            <input type="text" style="width: 512px; height: 82px;" [disabled]="toggleButton1">
                                        </div>
                                        <div class="city-state">
                                            <div class="address-given">
                                                <label>city/town</label>
                                                <input type="text" style="width: 248px; height: 45px;" [disabled]="toggleButton1">
                                            </div>
                                            <div class="address-given">
                                                <label>state</label>
                                                <input type="text" style="width: 248px; height: 45px;" [disabled]="toggleButton1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="work-content">
                                <div>
                                    <mat-radio-button value="home" (change)="enableEditButton2()"></mat-radio-button>
                                </div>
                                <div class="main-work-content">
                                    <div class="work-header">
                                        <span class="work-text">2.HOME</span>
                                        <button class="work-address-edit" (click)="enable2()" [disabled]="editButton2">Edit</button>
                                    </div>
                                    <div class="work-address">
                                        <div class="address-given">
                                            <label>Address</label>
                                            <input type="text" style="width: 512px; height: 82px;" [disabled]="toggleButton2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button (click)="toOpenPanel3()"  class="details-confirm-button">CONTINUE</button>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="expandPanel3"  class="main-accordion" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="title-name">
                            Order summery
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="book-with-inc-dec">
                        <div class="book-details">
                            <div>
                                <img src="../../../assets/Image 11.png" height="85px" width="65px">
                            </div>
                            <div class="book-info">
                                <span class="book-name">Don't Make Me Think</span>
                                <span class="book-author">by Steve Krug</span>
                                <div class="price-info">
                                    <span class="disc-price">Rs.1500</span>
                                    <span class="act-price">Rs.2000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button routerLink="orderPlace"  class="place-button">CHECKOUT</button>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</div>