<div class="big-container" [ngStyle]="backgroundChange ? {'background-color': '#707070'} : {'background-color': '#878787'}">
    <div class="container" >
        <div class="container-1">
            <img src="../../../assets/img-1.png">
            <span class="text-1">ONLINE BOOK SHOPPING</span>
        </div>
    </div>
    <mat-card class="card-container">
        <mat-card-content>
            <mat-tab-group animationDuration="0ms" (click)="onBGChange()">
                <mat-tab label="LOGIN" >
                    <form [formGroup]="loginForm">
                        <div class="form-class">
                            <div class="log-in-container">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="email" placeholder="Email" name="email">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" placeholder="password" name="password">
                                    <mat-icon matSuffix class="suffix-img" *ngIf="showEye" ><img
                                            src="../../../assets/visibility_black_18dp.svg" (click)="passwordVisiblity()"></mat-icon>
                                    <mat-icon matSuffix class="suffix-img" *ngIf="!showEye"><img
                                            src="../../../assets/visibility_off_black_18dp.svg" (click)="passwordVisiblity()"></mat-icon>
                                    <mat-hint class="arrange-hint"><button mat-button color="primary"
                                            class="password-hint-button">Forgot password ?</button></mat-hint>
                                </mat-form-field>
                                <div class="switch-container">
                                    <mat-slide-toggle name="checked" formControlName="isChecked" (toggleChange)="changePerson()">Switch To: {{person}}</mat-slide-toggle>
                                </div>
                                <button mat-raised-button class="Log-in-button" (click)="logIn()">Login</button>
                                <div class="or-class">
                                    <div class="line"><mat-divider></mat-divider></div>
                                    <div class="text-3">OR</div>
                                    <div class="line"><mat-divider></mat-divider></div>
                                </div>
                                <div class="arrange-buttons">
                                    <button mat-raised-button class="facebook-button">Facebook</button>
                                    <button mat-raised-button class="button-2">Google</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="SIGN UP" class="text-2" >
                    <form [formGroup]="signupForm">
                        <div class="form-class">
                            <div class="log-in-container-1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Full Name</mat-label>
                                    <input matInput type="text" formControlName="fullname" placeholder="Name" name="fullname">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="Email" placeholder="Email" name="email">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" formControlName="passWord" placeholder="password" name="password">
                                    <mat-icon matSuffix class="suffix-img"><img
                                            src="../../../assets/visibility_black_24dp.svg"></mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Mobile Number</mat-label>
                                    <input matInput formControlName="mobilenumber" placeholder="Mobile number" name="mobilenumber">
                                </mat-form-field>
                                <div class="switch-button">
                                    <mat-slide-toggle name="checked" formControlName="isChecked" (toggleChange)="changePerson()">Switch To: {{person}}</mat-slide-toggle>
                                </div>
                                <button mat-raised-button class="Log-in-button" (click)="signUp()">Signup</button>
                            </div>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>