<div class="main-container">
    <div class="content-container">
        <div class="img-class">
            <img src="../../../assets/order place page for bookstore.png" >
        </div>
        <div class="text-class">
            <span>hurray!!!your order is confirmed</span>
            <span>the order id is #{{orderPlacedId}} save the order id for</span>
            <span>further communications..</span>
        </div>
        <div class="table-given">
            <div class="table-header">
                <span>Email us</span>
                <span >Contact us</span>
                <span>Address</span>
            </div>
            <div class="table-header-2">
                <span class="text-1"> admin@bookstore.com</span>
                <mat-divider [vertical]="true"></mat-divider>
                <span class="text-1">+91 8163475881</span>
                <mat-divider [vertical]="true"></mat-divider>
                <!-- <div class="email-class">
                    <span class="text-1">admin@bookstore.com</span>
                </div>
                <div class="contact-class">
                    <span class="text-1">+91 8163475881</span>
                </div> -->
                <div class="address">
                    <span class="text-2">42, 14th Main, 15th Cross,Sector 4, opp to BDA</span>
                    <span >complex, near Kumarakom restaurant, HSR Layout,</span>
                    <span >Bangalore 560034</span>
                </div> 
            </div> 
        </div>
        <div>
            <button mat-button class="shopping-button">CONTINUE SHOPPING</button>
        </div>
    </div>
</div>
